:root {
  --background-button: #B8AEE9;
  --button-color: #ffffff;
}


  

.button {
  background-color: var(--background-button);
  color: var(--button-color);
  height: 100px;
  border-radius: 10px;
}

.button__wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template: 100px 100px / 200px 200px;
  grid-gap: 30px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.button__info {
  grid-column: 1/-1;
  margin: auto;
  font-size: 3rem;
}
